.titancare-banner {
    margin: 0 auto;
    max-width: 114rem;
    padding-top: 550px;
    padding-bottom: 120px;

    .portfolio_image_wrap {
        position: absolute;
        top: 55vh;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        height: 650px;
        text-align: center;
        z-index: 999;
        width: 55vw;
        overflow: hidden;
        box-shadow: 0px 0px 23px 0px #292929;

        .portfolio_image {
            width: 100%;
        }
    }

    .care_title {
        margin-top: 2.5rem;
        text-align: center;
        font-size: 5.5rem;
    }

    .care_subtitle {
        font-size: 1.5rem;
        max-width: 50vw;
        text-align: center;
        margin: 0 auto;
        margin-top: 1.7rem;
    }
}

.titancare-paralax {
    background: linear-gradient(rgb(51 51 51 / 30%), rgb(51 51 51 / 30%)), url(../../img/care.jpg) center/cover fixed no-repeat;
    margin-bottom: 15rem;
    height: 400px;
}